! mainEx04a.cfg.
! This file contains commands to be read in for a Pythia8 run.
! Lines not beginning with a letter or digit are comments.
! Names are case-insensitive  -  but spellings-sensitive!
! The settings here are illustrative, not always physics-motivated.

! 1) Settings used in the main program.
Main:numberOfEvents = 10000         ! number of events to generate
Main:timesAllowErrors = 3          ! how many aborts before run stops
Random:setSeed = on
Random:seed = 0

! 2) Settings related to output in init(), next() and stat().
Init:showChangedSettings = on      ! list changed settings
Init:showChangedParticleData = on ! list changed particle data
Next:numberCount = 1000             ! print message every n events
Next:numberShowInfo = 1            ! print event information n times
Next:numberShowProcess = 1         ! print process record n times
Next:numberShowEvent = 1           ! print event record n times

! 3) Beam parameter settings. Values below agree with default ones.
Beams:idA = 2212                   ! first beam, p = 2212, pbar = -2212
Beams:idB = 2212                   ! second beam, p = 2212, pbar = -2212
Beams:eCM = 13000.                 ! CM energy of collision

! 4) Settings for the hard-process generation.

! Example 1: QCD + prompt photon production; must set pTmin.
#HardQCD:all = on                   ! switch on all QCD jet + jet processes
#HardQCD:hardccbar = on                   ! switch on all QCD jet + jet processes
#HardQCD:hardbbbar = on                   ! switch on all QCD jet + jet processes
#SoftQCD:all = on					! switch on soft QCD
SoftQCD:nonDiffractive = on					! switch on soft QCD
#PromptPhoton:all = on              ! swich on gamma + jet and gamma + gamma
#Charmonium:all = on
#Bottomonium:all = on
#PhaseSpace:pTHatMin = 1.0          ! minimal pT scale in process

! Example 2: t-tbar production.
#Top:gg2ttbar = on                  ! g g -> t tbar
#Top:qqbar2ttbar = on               ! q qbar -> t tbar

! Example 3: Z0 production; should set mMin.
#WeakSingleBoson:ffbar2gmZ = on     ! q qbar -> gamma*/Z0
#PhaseSpace:mHatMin = 50.

! Example 4: gauge boson pair production; set pTmin. Not yet complete.
#WeakDoubleBoson:ffbar2ZW = on      ! q qbar -> Z0 W+-
#WeakDoubleBoson:ffbar2WW = on      ! q qbar -> W+ W-
#PhaseSpace:pTHatMin = 20.          ! minimal pT scale in process

#Tune:pp = 14                        ! use Tune Monash2013
#Tune:pp = 21                        ! use Tune ATLAS A14

#PDF:pSet = 17
#MultipartonInteractions:ecmRef = 200
#MultipartonInteractions:bprofile = 2
#MultipartonInteractions:pT0Ref = 1.40
#MultipartonInteractions:ecmPow = 0.135
#MultipartonInteractions:coreRadius = 0.56
#MultipartonInteractions:coreFraction = 0.78
#ColourReconnection:range = 5.4


! 5) Switch on/off the key event generation steps.
#PartonLevel:MPI = off              ! no multiparton interactions
#PartonLevel:ISR = off              ! no initial-state radiation
#PartonLevel:FSR = off              ! no final-state radiation
#HadronLevel:all = off        			! no hadronization
#HadronLevel:Hadronize = on         ! no hadronization
#HadronLevel:Decay = off            ! no decays
#StringFragmentation:TraceColours = on

! 6) Other settings. Can be expanded as desired.
#Tune:preferLHAPDF = off            ! use internal PDFs when LHAPDF not linked
#ParticleDecays:limitTau0 = on      ! set long-lived particle stable ...
#ParticleDecays:tau0Max = 10        ! ... if c*tau0 > 10 mm

#Fragmentation:setVertices = on
#PartonVertex:setVertex = on
#PartonVertex:protonRadius = 0.7
#PartonVertex:emissionWidth = 0.1
#ParticleDecays:limitTau0 = on
#ParticleDecays:tau0Max = 10

#Ropewalk:RopeHadronization = on
#Ropewalk:doShoving = on
#Ropewalk:doFlavour = on

#ColourReconnection:mode = 2

! 7) Color reconnection
StringPT:sigma = 0.335
StringZ:aLund = 0.36
StringZ:bLund = 0.56
StringFlav:probQQtoQ = 0.078
StringFlav:ProbStoUD = 0.2
StringFlav:probQQ1toQQ0join = 0.0275 0.0275 0.0275 0.0275
MultiPartonInteractions:pT0Ref = 2.21
BeamRemnants:remnantMode = 1
BeamRemnants:saturation = 5
ColourReconnection:mode = 1
ColourReconnection:allowDoubleJunRem = off
ColourReconnection:m0 = 3.0
ColourReconnection:allowJunctions = on
ColourReconnection:junctionCorrection = 1.20
ColourReconnection:timeDilationMode = 2
ColourReconnection:timeDilationPar = 0.18

#443::onMode = off
#100443::onMode = off

#443::onIfAny = 11 13
#100443::onIfAny = 11 13

#553::onMode = off
#100553::onMode = off
#200553::onMode = off

#553::onIfAny = 11 13
#100553::onIfAny = 11 13
#200553::onIfAny = 11 13

111::onMode = off
113::onMode = off
213::onMode = off
221::onMode = off
223::onMode = off

#5132::onMode = off
#5232::onMode = off

#4122::onMode = off

3312::onMode = off
#3312::onIfMatch = 3122 211

#3122::onMode = off
#3122::onIfMatch = 2212 211

#4132::addChannel = 1 0.2 0 3312 -11 12
#4132::onMode = off
#4132::onIfMatch = 3312 11 12

#4232::addChannel = 1 0.2 0 3324 -11 12
#4232::onMode = off
#4232::onIfMatch = 3324 11 12

#3324::onMode = off
#3324::onIfMatch = 3312 211
